{% extends 'base.html' %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{airline.image.url}}" width="100%" height="100%" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h2>{{airline.air_name}}</h2>
                    <h5 style="color:white">Batafsil ma'lumot: {{airline.text}}</h5>
            <div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

