{% extends 'base.html' %}

{% block content %}

<section class="py-5">
    {% for counts in country %}
            <div class="col-md-4 col-sm-4 fh5co-item-wrap">
                <a class="fh5co-listing-item" href="{% url "batafsil_page" counts.id %}">
                    <img src="{{counts.image.url}}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive fh5co-img">
                    <div class="fh5co-listing-copy">
                        <h2>{{counts.country}}</h2>
                        <h5 style="color:white">${{counts.price}}</h5>
                        <h5 style="color:white">Airline: {{counts.airline}}</h5>
                        <span class="icon">
                            <i class="icon-chevron-right"></i>
                        </span>
                    </div>
                </a>
            </div>
            {% endfor %}
</section>

{% endblock content %}

